/*
branding-color: #d6b161;
*/

* {
  font-weight: 200;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1.5;
  font-weight: 200;
}

h1,
h2 {
  letter-spacing: 2px;
}

h3,
h4 {
  letter-spacing: 1px;
}

h3 {
  margin-bottom: 30px;
  font-size: 18px;
}

section {
  padding: 100px 0;
}

ul.circled-list {
  margin-bottom: 30px;
  padding-left: 18px;
  list-style-type: circle;
  line-height: 2;
}

ul.arrow-list {
  padding-left: 0;
  list-style-type: none;
}

ul.arrow-list li {
  border-bottom: 1px solid #333;
}

ul.arrow-list a {
  line-height: 45px;
  color: #a2a2a2;
}

ul.arrow-list a:active,
ul.arrow-list a:hover {
  color: #d6b161;
  text-decoration: none;
}

ul.arrow-list a:before {
  content: ">";
  padding-right: 15px;
  font-size: 8px;
}

p {
  margin-bottom: 30px;
  line-height: 2;
  color: #7e7e7e;
  font-size: 15px;
}

hr {
  margin: 0;
}

.heading-title {
  margin-bottom: 100px;
}

.heading-title h2 {
  margin: 0;
  font-size: 24px;
}

.heading-title p {
  letter-spacing: 2px;
}

.btn.btn-default {
  border: none;
  padding: 10px 20px;
  background-color: #222;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 12px;
  transition: all .2s linear;
}

.btn.btn-default:hover {
  background-color: #d6b161;
}

.bubble.comment {
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 20px;
  background-color: #f5f5f5;
}

.bubble.comment p {
  margin-bottom: 0;
}

.bubble.comment .triangle {
  position: absolute;
  bottom: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 0 14px;
  border-color: #f5f5f5 transparent transparent transparent;
}

.testimonial-meta {
  margin-top: 15px;
}

.testimonial-meta .name {
  margin-bottom: 0;
  font-size: 14px;
}

.testimonial-meta .title {
  font-size: 12px;
  letter-spacing: 1px;
  color: #7f7f7f;
}

/* #header */
#header {
  padding: 0 30px;
}

nav {
  line-height: 100px;
  font-size: 13px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: transparent;
  color: #d6b161;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}

.nav>li>a {
  padding: 0 15px;
}

nav a {
  color: #333;
}

/* .header */
.header {
  padding: 200px 0;
  background-image: url("http://massive.markup.themebucket.net/assets/img/about/sb-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.header h1 {
  margin-bottom: 0;
  color: white;
  font-size: 24px;
  line-height: 1.5;
}

.breadcrumb {
  padding: 15px;
  background-color: rgba(0, 0, 0, .7);
  font-size: 12px;
  letter-spacing: 1px;
}

.breadcrumb a {
  color: #7e7e7e;
}

.breadcrumb>.active {
  color: #ccc;
}

a:hover,
a:focus {
  color: #ccc;
  text-decoration: none;
}

/* services */
.services h3 {
  margin-bottom: 20px;
}

.services .col-sm-6 {
  margin-bottom: 100px;
}

/* other services */
.other-services {
  background-image: url(http://massive.markup.themebucket.net/assets/img/parallax/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
}

.other-services h3 {
  margin-bottom: 20px;
}

.other-services p {
  color: #fff;
}

.other-services hr {
  margin: 30px auto;
  width: 36px;
  border-top: 2px solid #eee
}

/* special services */
.special-services .subtitle {
  color: #d6b161;
}

/* footer */
#footer {
  background-color: #222;
}

#footer>.container {
  padding: 80px 15px;
}

#footer h4 {
  font-size: 14px;
  color: #fff;
}

.recent-work li {
  margin-bottom: 10px;
}

#footer .bottom {
  border-top: 1px solid #2c2c2c;
  padding: 35px 0;
  background-color: #1b1b1b;
  color: #6f7273
}

#footer .bottom ul {
  margin-bottom: 0;
}

#footer .copyright {
  line-height: 30px;
}

.social-media a {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 800;
}

.social-media li {
  margin-left: 15px;
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}